@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(41, 41, 41);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infinite-zoom {
  animation: zoomInOut 2s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Adjust for desired zoom level */
  }
  100% {
    transform: scale(1);
  }
}
