@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(41, 41, 41);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infinite-zoom {
  animation: zoomInOut 7s ease-in-out infinite alternate;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Adjust for desired zoom level */
  }
  100% {
    transform: scale(1);
  }
}

.nav {
  margin-bottom: 5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.116);
  border-radius: 50px;
}

.nav li {
  font-weight: 500;
  color: white;
}

.mr {
  margin-right: 1.5rem;
}

.nav li:hover {
  color: green;
  transition: 0.5s;
}
