.post {
  overflow-x: hidden;
}

.blogPost {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.blogPost h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.imageContainer {
  text-align: center;
  margin-bottom: 1rem;
}

.postImage {
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: rgb(194 65 12);
}

.postMeta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  font-size: 0.875rem;
  color: #7e7e7e;
}

.content {
  font-size: 1.125rem;
  line-height: 1.6;
  color: white;
  margin-bottom: 3rem;
}
